<!--<app-table></app-table>
<app-table></app-table>
<app-table></app-table>
<app-table></app-table>-->
<body>
    <div class="gallery-container">
        <div class="gallery-item"><app-table routerLink="/item"></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
        <div class="gallery-item"><app-table></app-table></div>
    </div>
</body>