
<body>
    <div class="container">
        <h2>סל הקניות</h2>
        <table>
            <thead>
                <tr>
                    <th>שם מוצר</th>
                    <th>כמות</th>
                    <th>צבע</th>
                    <th>מחיר ליחידה</th>
                    <th>סה"כ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>כיסא כתר</td>
                    <td>
                        <div class="quantity">
                            <button>-</button>
                            <input type="text" value="2">
                            <button>+</button>
                        </div>
                    </td>
                    <td>שחור</td>
                    <td>30 ש"ח</td>
                    <td>60 ש"ח</td>
                </tr>
                <tr>
                    <td>שולחן מטבח</td>
                    <td>
                        <div class="quantity">
                            <button>-</button>
                            <input type="text" value="1">
                            <button>+</button>
                        </div>
                    </td>
                    <td>לבן</td>
                    <td>1500 ש"ח</td>
                    <td>1500 ש"ח</td>
                </tr>
            </tbody>
        </table>
        <div class="total">
            <span>סה"כ לתשלום:</span>
            <span>1560 ש"ח</span>
        </div>
        <button routerLink="/payment" class="checkout-button">מעבר לתשלום</button>
    </div>
</body>

