

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #CCCCCC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

.product-details {
    direction: rtl;
}

.product-details h1 {
    margin: 0 0 10px;
    font-size: 24px;
}

.product-details p {
    margin: 15px 0;
    font-size: large;
}

.quantity {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.quantity span {
    margin-right: 10px;
}

.quantity-button {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    cursor: pointer;
}

.quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #CCCCCC;
}

.colors {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.colors span {
    margin-right: 10px;
}

.color-button {
    width: 30px;
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.stock {
    margin: 10px 0;
    font-size: 12px;
    color: #FF0000;
}

.add-to-cart {
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.view-cart {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
    font-size: large;
}

.product-image {
    text-align: center;
}

.product-image img {
    max-width: 250px;
    max-height: 300px;
    border: 1px solid #131010;
    margin-top: 30px;
}

.product-image p {
    margin-top: 20px;
    font-size: x-large;

}
