<nav  id="navigation">
    <!--<button (click)="isAdmin=!isAdmin">מנהל</button>-->
    <button routerLink="" class="borderless-button" class="right-butten">דף הבית</button>
    <button routerLink="table-galery" class="borderless-button" class="right-butten">שולחנות</button>
    <button routerLink="chair-galery" class="borderless-button" class="right-butten">כסאות</button>
    <button routerLink="conect"  class="borderless-button" class="right-butten">צור קשר</button>
    <button routerLink="shopping-cart" class="borderless-button" class="left-butten">סל קניות</button>
    <button routerLink="log-in" class="borderless-button" class="left-butten">התחבר</button><!--'בחיבור למערכת יש להחליף את הכפתור ל'התנתק-->
</nav>