
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.personal-area {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

.personal-area h1 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

.personal-details button {
    background-color: #f5f581;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.personal-details button:hover {
    background-color: #eea60b;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

.personal-area {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
   
}

.personal-area h1 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

.personal-details button {
    background-color: #ffa07a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.personal-details button:hover {
    background-color: #ff7f50;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

button{
    margin: 15px;
}
p{
    color: #000;
}
