
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    color: #5c5304;
    font-size:x-large;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    background-color: #f5f581;
    color: #0e0808;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.login-form button:hover {
    background-color: #eea60b;
}
