body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    direction: rtl;
}

.highlight {
    background-color: yellow;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.account-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
}

.name-fields label {
    width: 48%;
}

.name-fields input {
    width: 48%;
}

.account-form button {
    background-color: #ffa07a;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.account-form button:hover {
    background-color: #ff7f50;
}
